* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  background-color: black;
  background-size: cover;
  background-repeat: no-repeat;
  font-size: 10px;
  text-align: center;
}

.container {
  margin-left: auto;
  margin-right: auto;
}

.phone-card {
  background: linear-gradient(-45deg, #64b5f6, #f403d1);
  border: 1px solid black;
  padding: 10px;
  margin: 10px;
  width: 300px;
  height: 540px;
  perspective: 1000px;
  display: inline-block;
  vertical-align: top;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
}

.phone-card img {
  width: 100%;
  /* max-width: 69%; */
  border-radius: 1rem;
  height: 209px;
  background-size: cover;
  height: 209px;
}
.card-image {
  height: 209px;
  border-radius: 1rem;
}
h3 {
  padding: 5px;
  width: 70%;
  background-color: #fff;
  padding: 10px;
  margin-left: auto;
  margin-bottom: 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  border-radius: 10px;
  margin-right: auto;
  margin-top: 10px;
}
p {
  width: 295px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 22px;
  font-size: 12px;
  height: 40px;
}

ul {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
  height: 130px;
}
li {
  width: 49%;
  background-color: #fff;
  padding: 10px;
  margin-bottom: 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  border-radius: 30px;
  transition: 0.5s ease;
  color: grey;
  margin: 5px;
  width: 45%;
  list-style-type: none;
}
.card-back {
  background: linear-gradient(-45deg, #f403d1, #64b5f6);

  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
}
.phone-card .card-front,
.phone-card .card-back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transition: transform 0.9s ease;
}

.phone-card .card-back {
  transform: rotateY(180deg);
}

.phone-card.flipped .card-front {
  transform: rotateY(-180deg);
}

.phone-card.flipped .card-back {
  transform: rotate(0);
}
label {
  width: 100%;
  max-width: 300px;
}

#search-bar {
  width: 70%;
  display: flex;
  padding: 15px;
  background-color: white;
  border: 2px solid purple;
  color: #111;
  font-size: 15px;
  box-shadow: 3px 1px 0px 2px, 0px -1px 0px 2px rgba(0, 0, 0, 0.62);
  height: 58px;
  font-family: "Knewave", cursive;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 30px;
}

button {
  margin-bottom: 30px;
  margin-top: 30px;
  outline: none;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 1rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  transition: 0.5s ease;
  background: linear-gradient(45deg, pink, purple);
  color: white;
}

button:hover {
  padding: 10px;

  color: white;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 10px;
}

.pagination button {
  margin: 0 5px;
}
